.film-list__edit, .film-list__remove {
    width: 110px;
}

.film-list__year {
    width: 110px;
}

.director-list__edit, .director-list__remove {
    width: 110px;
}

.genre-list__edit, .genre-list__remove {
    width: 110px;
}

.set-item {
    display: block;
}

.page-title {
    text-align: center;
    color: #454545;
    user-select: none;
    padding-bottom: 10px;
}

.btn-login {
    width: 150px;
}
