<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <h2 class="page-title"
                th:text="${film.getId() == null ? 'Добавление фильма' : ('Редактирование фильма №' + film.getId())}"
            ></h2>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-8">
                <form enctype="multipart/form-data"
                      method="post"
                      th:action="@{/film/save}"
                      th:object="${filmForm}"
                >
                    <input name="id" type="hidden" required
                           th:value="${film.getId()}"
                           th:if="${film.getId() != null}"

                    />

                    <div class="mb-3">
                        <label for="film-title" class="form-label">Название</label>
                        <input
                            id="film-title" name="title" class="form-control" type="text" required
                            th:value="${film.getTitle()}"
                        />
                    </div>

                    <div class="mb-3">
                        <label for="film-year" class="form-label">Год премьеры</label>
                        <input
                            id="film-year" name="premierYear" class="form-control" type="number" required
                            th:value="${film.getPremierYear()}"
                        />
                    </div>

                    <div class="mb-3">
                        <label for="film-country" class="form-label">Страна</label>
                        <input
                            id="film-country" name="country" class="form-control" type="text" required
                            th:value="${film.getCountry()}"
                        />
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <label for="film-directors" class="form-label">Авторы</label>
                            <select id="film-directors"
                                    name="directorsId[]"
                                    class="form-select"
                                    size="10"
                                    multiple required
                            >
                                <option
                                    th:each="director : ${directorList}"
                                    th:value="${director.key}"
                                    th:text="${director.value}"
                                    th:selected="${film.getDirectorsId().contains(director.key)}"
                                ></option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="film-genres" class="form-label">Жанры</label>
                            <select id="film-genres"
                                    name="genresId[]"
                                    class="form-select"
                                    size="10"
                                    multiple required
                            >
                                <option
                                    th:each="genre : ${genreList}"
                                    th:value="${genre.key}"
                                    th:text="${genre.value}"
                                    th:selected="${film.getGenresId().contains(genre.key)}"
                                ></option>
                            </select>
                        </div>
                    </div>

                    <div class="text-end">
                        <a href="/film/list" class="btn btn-outline-primary me-2">К списку</a>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
