<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <h2 class="page-title">Каталог фильмов</h2>
        </div>

        <div class="mb-3 mt-3 text-end"
             sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('STAFF'))"
        >
            <a class="btn btn-sm btn-outline-primary" href="/film/form">Добавить</a>
        </div>

        <div class="row">
            <table
                th:if="${films.size() > 0}"
                class="table table-bordered table-striped table-hover film-list"
            >
                <thead class="text-center">
                <tr>
                    <th class="film-list__title">Название</th>
                    <th class="film-list__author">Авторы</th>
                    <th class="film-list__genre">Жанры</th>
                    <th class="film-list__year">Год</th>
                    <th class="film-list__country">Страна</th>
                    <th class="film-list__country"
                        sec:authorize="isAuthenticated() && !hasRole('ADMIN')"
                    >Заказать</th>
                    <th class="film-list__edit"
                        sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('STAFF'))"
                    >Изменить</th>
                </tr>
                </thead>

                <tbody class="text-center">
                <tr th:each="film: ${films}">
                    <td>
                        <span th:text="${film.getTitle()}"></span>
                    </td>
                    <td>
                        <span class="badge bg-secondary me-2"
                              th:each="director: ${film.getDirectors()}"
                              th:text="${director.getFullName()}"
                        ></span>
                    </td>
                    <td>
                        <span class="badge bg-secondary me-2"
                              th:each="genre: ${film.getGenres()}"
                              th:text="${genre.getTitle()}"
                        ></span>
                    </td>
                    <td th:text="${film.getPremierYear()}"></td>
                    <td class="text-center"
                        th:text="${film.getCountry()}"
                    ></td>
                    <td sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                        <a class="btn btn-sm btn-outline-primary"
                           th:href="'/order/create/' + ${film.getId()}"
                        >Заказать</a>
                    </td>
                    <td sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('STAFF'))">
                        <a class="btn btn-sm btn-outline-success"
                           th:href="'/film/form/' + ${film.getId()}"
                        >Изменить</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="alert alert-info" role="alert"
                 th:if="${films.size() == 0}"
            >Пока нет ни одного фильма</div>
        </div>
    </div>
</body>

</html>
