<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <h2 class="page-title"
                th:text="${genre.getId() == null ? 'Добавление жанра' : ('Редактирование жанра №' + genre.getId())}"
            ></h2>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-8">
                <form enctype="multipart/form-data"
                      method="post"
                      th:action="@{/genre/save}"
                      th:object="${genreForm}"
                >
                    <input name="id" type="hidden" required
                           th:value="${genre.getId()}"
                           th:if="${genre.getId() != null}"
                    />

                    <div class="row mt-3 mb-3">
                        <label for="genre-title" class="form-label">Название</label>
                        <input
                            id="genre-title" name="title" class="form-control" type="text" required
                            th:value="${genre.getTitle()}"
                        />
                    </div>

                    <div class="text-end">
                        <a href="/genre/list" class="btn btn-outline-primary me-2">К списку</a>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
