<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <h2 class="page-title">Жанры</h2>
        </div>

        <div class="mb-3 mt-3 text-end"
             sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('STAFF'))"
        >
            <a class="btn btn-sm btn-outline-primary" href="/genre/form">Добавить</a>
        </div>

        <div class="row">
            <table
                th:if="${genres.size() > 0}"
                class="table table-bordered table-striped table-hover genre-list"
            >
                <thead class="text-center">
                <tr>
                    <th class="genre-list__author">Название</th>
                    <th class="genre-list__edit"
                        sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('STAFF'))"
                    >Изменить</th>
                </tr>
                </thead>

                <tbody class="text-center">
                <tr th:each="genre: ${genres}">
                    <td>
                        <span th:text="${genre.getTitle()}"></span>
                    </td>
                    <td sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('STAFF'))">
                        <a class="btn btn-sm btn-outline-success"
                           th:href="'/genre/form/' + ${genre.getId()}"
                        >Изменить</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="alert alert-info" role="alert"
                 th:if="${genres.size() == 0}"
            >Пока нет ни одного жанра</div>
        </div>
    </div>
</body>

</html>
