<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <h2 class="page-title"
                th:text="${director.getId() == null ? 'Добавление автора' : ('Редактирование автора №' + director.getId())}"
            ></h2>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-8">
                <form enctype="multipart/form-data"
                      method="post"
                      th:action="@{/director/save}"
                      th:object="${directorForm}"
                >
                    <input name="id" type="hidden" required
                           th:value="${director.getId()}"
                           th:if="${director.getId() != null}"
                    />

                    <div class="row mt-3 mb-3">
                        <div class="col">
                            <label for="director-full-name" class="form-label">ФИО</label>
                            <input
                                id="director-full-name" name="fullName" class="form-control" type="text" required
                                th:value="${director.getFullName()}"
                            />
                        </div>
                        <div class="col">
                            <label for="director-position" class="form-label">Должность</label>
                            <input
                                id="director-position" name="position" class="form-control" type="text" required
                                th:value="${director.getPosition()}"
                            />
                        </div>
                    </div>

                    <div class="text-end">
                        <a href="/director/list" class="btn btn-outline-primary me-2">К списку</a>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
