<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <h2 class="page-title">Авторы фильмов</h2>
        </div>

        <div class="mb-3 mt-3 text-end"
             sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('STAFF'))"
        >
            <a class="btn btn-sm btn-outline-primary" href="/director/form">Добавить</a>
        </div>

        <div class="row">
            <table
                th:if="${directors.size() > 0}"
                class="table table-bordered table-striped table-hover director-list"
            >
                <thead class="text-center">
                <tr>
                    <th class="director-list__title">ФИО</th>
                    <th class="director-list__author">Должность</th>
                    <th class="director-list__edit"
                        sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('STAFF'))"
                    >Изменить</th>
                </tr>
                </thead>

                <tbody class="text-center">
                <tr th:each="director: ${directors}">
                    <td>
                        <span th:text="${director.getFullName()}"></span>
                    </td>
                    <td>
                        <span th:text="${director.getPosition()}"></span>
                    </td>
                    <td sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('STAFF'))">
                        <a class="btn btn-sm btn-outline-success"
                           th:href="'/director/form/' + ${director.getId()}"
                        >Изменить</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="alert alert-info" role="alert"
                 th:if="${directors.size() == 0}"
            >Пока нет ни одного автора</div>
        </div>
    </div>
</body>

</html>
