<div class="container"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="footer"
>
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
        <p class="text-center text-body-secondary">© 2023 Company, Inc</p>

    </footer>
</div>
