<div class="container"
     xmlns:th="http://www.thymeleaf.org"
     th:fragment="header"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img class="bi ms-2 me-2" src="/img/tape.svg" alt="Logo" />
                <span class="fs-4">Кинотека</span>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
            sec:authorize="isAuthenticated()"
        >
            <li>
                <a class="nav-link px-2"
                   href="/film/list"
                >Фильмы</a>
            </li>
            <li>
                <a class="nav-link px-2"
                   href="/genre/list"
                >Жанры</a>
            </li>
            <li>
                <a class="nav-link px-2"
                   href="/director/list"
                >Авторы</a>
            </li>
            <li>
                <a class="nav-link px-2"
                   href="/order/list"
                >Заказы</a>
            </li>
            <li>
                <a class="nav-link px-2"
                   href="/user/list"
                   sec:authorize="isAuthenticated() && hasRole('ADMIN')"
                >Пользователи</a>
            </li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="/user/profile"
               class="btn btn-outline-primary"
               role="button"
               aria-disabled="true"
               sec:authorize="isAuthenticated() && !hasRole('ADMIN')"
            >Профиль</a>

            <a href="/login"
               class="btn btn-primary"
               role="button"
               aria-disabled="true"
               sec:authorize="!isAuthenticated()"
            >Войти</a>

            <a href="/logout"
               class="btn btn-danger"
               role="button"
               aria-disabled="true"
               sec:authorize="isAuthenticated()"
            >Выйти</a>
        </div>
    </header>
</div>
