<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <h2 class="page-title">Пользователи</h2>
        </div>

        <div class="row">
            <table
                th:if="${users.size() > 0}"
                class="table table-bordered table-striped table-hover user-list"
            >
                <thead class="text-center">
                <tr>
                    <th class="user-list__title">Логин</th>
                    <th class="user-list__title">ФИО</th>
                    <th class="user-list__title">Дата рождения</th>
                    <th class="user-list__title">Телефон</th>
                    <th class="user-list__title">Почта</th>
                    <th class="user-list__title">Адрес</th>
                    <th class="user-list__title">Роль</th>
                </tr>
                </thead>

                <tbody class="text-center">
                <tr th:each="user: ${users}">
                    <td th:text="${user.getLogin()}"></td>
                    <td th:text="${user.getLastName() + ' ' + user.getFirstName() + ' ' + user.getMiddleName()}"></td>
                    <td th:text="${{user.getBirthDate()}}"></td>
                    <td th:text="${user.getPhone()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td th:text="${user.getAddress()}"></td>
                    <td th:text="${roleKeyValue.containsKey(user.getRoleId()) ? roleKeyValue.get(user.getRoleId()) : '-'}"></td>
                </tr>
                </tbody>
            </table>

            <div class="alert alert-info" role="alert"
                 th:if="${users.size() == 0}"
            >Пока нет ни одного пользователя</div>
        </div>
    </div>
</body>

</html>
