<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>

<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <h2 class="page-title">Заказы</h2>
        </div>

        <div class="row">
            <table
                th:if="${orders.size() > 0}"
                class="table table-bordered table-striped table-hover order-list"
            >
                <thead class="text-center">
                <tr>
                    <th class="order-list__title">ID</th>
                    <th class="order-list__title">Фильм</th>
                    <th class="order-list__title">Пользователь</th>
                    <th class="order-list__title">Дата заказа</th>
                    <th class="order-list__title">Срок в днях</th>
                </tr>
                </thead>

                <tbody class="text-center">
                <tr th:each="order: ${orders}">
                    <td th:text="${order.getId()}"></td>
                    <td th:text="${order.getFilmDto().getTitle()}"></td>
                    <td th:text="${order.getUserDto().getLastName() + ' ' + order.getUserDto().getFirstName()}"></td>
                    <td th:text="${{order.getRentDate()}}"></td>
                    <td th:text="${order.getIsPurchased() ? 'куплен' : order.getRentPeriod()}"></td>
                </tr>
                </tbody>
            </table>

            <div class="alert alert-info" role="alert"
                 th:if="${orders.size() == 0}"
            >Заказов пока нет</div>
        </div>
    </div>
</body>

</html>
